<%- include('partials/header') %> 

<div>
    <h2> Profile </h2>
</div>

<div>
    <a href="/addTag">Ajouter un tag</a>
    <a href="/editTag">Modifier un tag</a>
</div>

<%- include('partials/footer') %> 